.reveal .slide-logo {
  height: 150px !important;
  width: 290px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.title {
  font-size: 80px !important;
}

.subtitle {
  font-size: 50px !important;
}

.quarto-title-author-name {
  font-size: 60px !important;
}

.date {
  font-size: 60px !important;
}

.caption {
  text-align: center;
}
/* Also include figcaption for consistency across all HTML formats */
figcaption {
  text-align: center;
}