.reveal .slide-logo {
  height: 120px !important;
  width: 210px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.title {
  font-size: 75px !important;
}

.subtitle {
  font-size: 50px !important;
}

.caption {
  text-align: center;
}
/* Also include figcaption for consistency across all HTML formats */
figcaption {
  text-align: center;
}